@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}


html, body{
  height: 100%;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  background: var(--very-light-gray);
}

button, a{
  cursor: pointer;
}

a{
  text-decoration: none;
}



.logo-img{
  width: 3.5rem;
}
.nav-style{
  background-color: var(--white) !important;
}

.logo{
  color: var(--dark-blue) !important;
  font-weight: 700;
  font-size: 1.5rem !important;
}

.nav-link{
  color: var(--grayish-blue) !important;
  font-weight: 300;
  font-size: 15px;
}

.nav-link:hover{
  color: var(--dark-blue) !important;
}

.toggle-btn{
  border: none;
  font-size: 15px;
}



.hero-h1{
 text-transform: capitalize;
 font-weight: 700;
 color: var(--dark-blue); 
}

.hero-p{
  font-weight: 300;
  font-size: 15px;
  color: var(--grayish-blue);
}

.hero-illu{
  width: 50rem;
}

.hero-btn{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
 border: none;
 font-size: 15px;
 border-radius: 15px;
}

.hero-btn:hover{
  opacity: 0.7;
}
 
.featured-products{
  background-color: var(--light-grayish-blue);
  padding-top: 2em;
  padding-bottom: 1em;
}

.contain {
  position: relative;
}



.contain .play {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: var(--very-light-gray); */
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
  color: var(--dark-blue);
  font-size: 1em;
  padding: 1px 5px;
  /* border: none; */
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.contain .play:hover {
  opacity: 0.7;
  /* background-color: var(--grayish-blue); */
}

.featured-text{
  font-weight: 400;
  /* font-size: 2em; */
  color: var(--dark-blue);
}

.contain p{
  color: var(--grayish-blue);
  font-weight: 400;
}

.newsletter{
  padding: 1em;
  background-color: var(--white);
}

.newsletter-head{
  color: var(--dark-blue);
  font-weight: 400;
}

.newsletter-text{
  font-size: 15px;
  color: var(--grayish-blue);
}

.newsletter-btn{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
   border: none;
}

ul > li{
  list-style-type: none;
}

.socio-icons{
  display: flex;
 
}

.socio-icons li{
margin-right: 10px;
font-size: 20px;
cursor: pointer;

}

.socio-icons li:hover{
  color: var(--lime-green);
}

.links li:hover{
  color: var(--lime-green);
}

.links li{
  margin-bottom: 10px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
}

footer{
  padding: 2em;
  color: var(--white);
  background-color: var(--dark-blue);
  /* background-image: url("../src/assets/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.about{
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.about h1{
  color: var(--dark-blue);
  font-weight: 700;
}

.about p{
  color: var(--grayish-blue);
  font-size: 16px;
}

/* .banner{
  background-image: url("../src/assets/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
} */

/* blog style */

.posts-container{
  border-bottom: 1px var(--light-grayish-blue) solid;
  margin-bottom: 2em;
  cursor: pointer;
}

.blog-container h1{
  font-weight: 700;
  color: var(--lime-green);
  font-size: 3em;
}

.blog-container h2{
  font-weight: 700;
  font-size: 1.5em;
  color: var(--dark-blue);
}

.date{
  font-size: 15px;
  color: var(--lime-green);
  font-weight: 300;
}

.post-des{
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 17px;
}

/* cart style */
.cart{
  padding: 1em;
}

.cart-h1{
  margin-bottom: 3em;
  color: var(--dark-blue);
  font-weight: 700;
}

.cart-desc p{
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-size: 15px;
  color: var(--dark-blue);
  border-bottom: 1px solid var(--grayish-blue);
  padding-bottom: 0.7em;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-desc p span{
  color: var(--grayish-blue);
}

.item-des{
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.item-des p span{
  color: var(--dark-blue);
  font-size: 15px;
}

.item-play{
  background-color: var(--lime-green);
width: 30px;
height: 30px;
padding-left: 0.2em;
padding-right: 0.2em;
padding-top: 0.3em;
padding-bottom: 0.4em;
border-radius: 50%;
margin-bottom: 0.5em;
cursor: pointer;
}

.summary h2{
  color: var(--dark-blue);
  font-weight: 700;
  margin-bottom: 2em;
}

.cart-summary p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-blue);
}

.summary-btn{
  width: 100%;
  background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
   border: none;
   margin-top: 1.5em;
}

.summary-btn:hover{
  opacity: 0.6;
}

.item-head, .price-head{
  color: var(--dark-blue);
  font-weight: 600;
}

.item-des p{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contact-btn{
  background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
   border: none;
   color: var(--white);
}

/* post style */

.page{
  padding-top: 2em;
}

.page h2{
  color: var(--dark-blue);
  font-weight: 600;
}

.page-date{
  font-size: 13px;
  color: var(--grayish-blue);
}

.page img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.post-body{
  margin-top: 2em;
  color: var(--dark-blue);
}

.post-side h2{
  margin-bottom: 1em;
  color: var(--dark-blue);
  font-weight: 700;
}

@media screen and (min-width: 768px){
.post-side{
  border-left: 1px solid var(--grayish-blue);
  padding-left: 1em;
}     
 }


.post-side-content h3{
  color: var(--dark-blue);
}

.post-side-content p{
  color: var(--grayish-blue);
  font-size: 13px;
}

@media screen and (max-width: 768px){
 .post-side{
  margin-top: 3em;
 }

 .summary{
  margin-top: 2em;
 }

 .item-2{
  margin-top: 2em;
 }
  
}

/* create post */

.quill-container{
  height: 300px;
  overflow: scroll;
  border: 1px solid var(--grayish-blue);
}

.quill{
  height: 100%;
  border: none;
}

.cat-btn{
  background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
   border: none;
   color: var(--white);
}

.cat-btn:hover{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(43,183,218,1) 0%, rgba(49,211,92,1) 100%);
  color: var(--white);
}

/* product page */

.prod-img{
  height: 200px;
}

.login-btn{
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(43,183,218,1) 0%, rgba(49,211,92,1) 100%);
  color: var(--white);
  border: none;
}

.login-btn:hover{
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
}

.create-btn{
  width: 100%;
  background-color: #bebebe;
  color: var(--dark-blue);
  border: none;
}

.create-btn:hover{
  background-color: var(--dark-blue);
  color: var(--white);
}

.forgot{
  font-size: 14px;
  color: var(--grayish-blue);
}

.no-acc{
  color: var(--dark-blue);
  font-weight: 400;
}

.sign-p{
  color: var(--dark-blue);
  font-weight: 700;
}

.register-h3{
  color: var(--dark-blue);
  font-weight: 700;
}

.register-p{
  color: var(--dark-blue);
  font-weight: 700;
}

.signup-btn{
 background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
   border: none;
   color: var(--white); 
}

.signup-btn:hover{
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(43,183,218,1) 0%, rgba(49,211,92,1) 100%);
}

.already{
  color: var(--grayish-blue);
  font-size: 15px;
}

